In [35]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [36]:
train=pd.read_csv("Twitter_Data.csv")

In [37]:
train.shape

(162980, 2)

In [38]:
train.columns

Index(['clean_text', 'category'], dtype='object')

In [39]:
train.sample(5)

                                               clean_text  category
91204                modi ’ india now can happen anything       0.0
142409  india’ gdp decreasing but your net worth incre...       1.0
158493  teen modi milke saal corruption kare toh famil...       0.0
79141          what happened 300 bodies stated modi govt        0.0
87909   modi began his campaign for prime ministership...      -1.0

In [40]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 162980 entries, 0 to 162979
Data columns (total 2 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   clean_text  162976 non-null  object
 1   category    162973 non-null  float64
dtypes: float64(1), object(1)
memory usage: 2.5+ MB

In [41]:
train.describe()

            category
count  162973.000000
mean        0.225436
std         0.781279
min        -1.000000
25%         0.000000
50%         0.000000
75%         1.000000
max         1.000000

In [42]:
train[['clean_text']].describe(include='all')

                                               clean_text
count                                              162976
unique                                             162976
top     when modi promised “minimum government maximum...
freq                                                    1

In [43]:
train.isnull().sum()  #no of null values

clean_text    4
category      7
dtype: int64

In [44]:
train['category'].value_counts()

 1.0    72250
 0.0    55213
-1.0    35510
Name: category, dtype: int64

In [45]:
train.dropna(axis=0,inplace=True)   #removing rows where text is null

In [46]:
train.shape

(162969, 2)

In [47]:
train.isnull().sum()

clean_text    0
category      0
dtype: int64

In [50]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split 
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.linear_model import LogisticRegression

In [52]:
x=train['clean_text']
y=train['category']

In [53]:
tfidf = TfidfVectorizer(stop_words='english')
tfidf.fit(x)
features = tfidf.transform(x)

In [54]:
features.shape

(162969, 106644)

In [55]:
x_train, x_test, y_train, y_test = train_test_split(features,y,test_size=0.2)

In [56]:
clf = LogisticRegression().fit(x_train,y_train)

C:\Users\tejaswi\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [57]:
clf.score(x_train,y_train)

0.8916586768935763

In [58]:
y_pred = clf.predict(x_test)
print("Accuracy Score:",clf.score(x_test,y_test))

Accuracy Score: 0.8548505859974228

Evaluate on new data

In [72]:
docs = ["So I spent a few hours making something for fun.",
        "im getting on borderlands 2 and i will murder you me all",
       "I'm in bad mood .Do not disturb me",
        "I'm not in bad mood",
        "I'm in good mood",
       ]
# Tfidf
features = tfidf.transform(docs)
print(clf.predict(features))

[ 1.  0. -1. -1.  1.]